@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    background-color: #282a36;
    font-family: 'Poppins', sans-serif;
}

.container-main {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 45px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content-main {
    text-align: left;
    margin-top: -20px;
}

.container-main p a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

p {
    margin-bottom: 0;
}

input {
    padding: 10px;
    outline: none;
    font-size: 20px;
    border: rgb(11, 78, 202) solid 1px;
    border-radius: 10px;
}

.response-login {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.response-register {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.errorlogin {
    color: rgb(240, 64, 64);
    display: none;
}

button {
    height: 50px;
    border: none;
    background-color: #198754;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

a > button {
    width: 100%;
}

button:hover {
    background-color: #157347;
    cursor: pointer;
}

label {
    display: block;
}

span {
    display: none;
    color: rgb(212, 21, 21);
    font-size: x-small;
}